Chapter 4 - Function Nodes/1. Context in Function Nodes/Context in Function Nodes.flow
[{"id":"40dee5ba.deb764","type":"inject","z":"9db2294c.6f7188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":176.5,"y":134.25,"wires":[["588319db.536328"]]},{"id":"bbec4062.bcd75","type":"debug","z":"9db2294c.6f7188","name":"","active":true,"console":"false","complete":"payload","x":535.5,"y":146.5,"wires":[]},{"id":"588319db.536328","type":"function","z":"9db2294c.6f7188","name":"","func":"if (!context.value){\n    context.value = 0;\n}\ncontext.value += 1;\nmsg.count = context.value;\nreturn msg;","outputs":1,"noerr":0,"x":356.5,"y":177.75,"wires":[["bbec4062.bcd75"]]}]
