Chapter 6 - Databases/1. Basic Cloudant Flow/Basic Cloudant Flow.flow
[{"id":"914ef842.46094","type":"cloudant out","z":"a0bc8e5e.0b9a48","name":"","database":"","service":"","payonly":false,"operation":"insert","x":440.5,"y":278.25,"wires":[]},{"id":"d2f62fc3.0a68c8","type":"debug","z":"a0bc8e5e.0b9a48","name":"","active":true,"console":"false","complete":"false","x":434.5,"y":332.5,"wires":[]},{"id":"89d3f503.931988","type":"inject","z":"a0bc8e5e.0b9a48","name":"","topic":"","payload":"test this is <name>","payloadType":"str","repeat":"","crontab":"","once":false,"x":226.5,"y":277.25,"wires":[["914ef842.46094","d2f62fc3.0a68c8"]]}]
