Chapter 4 - Function Nodes/5. Texting Weather Conditions/Texting Weather Conditions.flow
[{"id":"c81195f5.493cf8","type":"wunderground","z":"8c827953.0b8f3","name":"","lon":"","lat":"","city":"New York","country":"NY","x":360,"y":340,"wires":[["e342ca27.7d8088"]]},{"id":"9ac7f6b3.0e84b","type":"inject","z":"8c827953.0b8f3","name":"","topic":"","payload":"Current weather alert","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":340,"wires":[["c81195f5.493cf8"]]},{"id":"3260b49c.a6af6c","type":"twilio out","z":"8c827953.0b8f3","service":"_ext_","twilio":"","from":"","number":"","name":"","x":730,"y":280,"wires":[]},{"id":"e342ca27.7d8088","type":"function","z":"8c827953.0b8f3","name":"","func":"msg.payload = msg.payload.description;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":340,"wires":[["63d69f87.1172c8","3260b49c.a6af6c"]]},{"id":"63d69f87.1172c8","type":"debug","z":"8c827953.0b8f3","name":"","active":true,"console":"false","complete":"payload","x":750,"y":340,"wires":[]},{"id":"e077b099.40dd5","type":"wunderground","z":"8c827953.0b8f3","name":"","lon":"","lat":"","city":"New York","country":"NY","x":360,"y":400,"wires":[["e8874730.2b05e"]]},{"id":"885a10c5.e055e","type":"inject","z":"8c827953.0b8f3","name":"","topic":"","payload":"Forecast alert","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":400,"wires":[["e077b099.40dd5"]]},{"id":"75cd995.322f668","type":"twilio out","z":"8c827953.0b8f3","service":"_ext_","twilio":"","from":"","number":"","name":"","x":730,"y":400,"wires":[]},{"id":"e8874730.2b05e","type":"function","z":"8c827953.0b8f3","name":"","func":"msg.payload = msg.payload.forecast;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["244d7543.83900a","75cd995.322f668"]]},{"id":"244d7543.83900a","type":"debug","z":"8c827953.0b8f3","name":"","active":true,"console":"false","complete":"payload","x":750,"y":460,"wires":[]}]
