Chapter 3 - Beginner Flows/1. Replacing the Payload/Replacing.flow
[{"id":"be07bd9f.a70148","type":"inject","z":"39332acf.7e95e6","name":"","topic":"","payload":"Will this change? ","payloadType":"str","repeat":"","crontab":"","once":false,"x":319.5,"y":416.25,"wires":[["9e3899b7.b218"]]},{"id":"e8170aa.e5ca378","type":"debug","z":"39332acf.7e95e6","name":"","active":true,"console":"false","complete":"false","x":598.5,"y":408.5,"wires":[]},{"id":"9e3899b7.b218","type":"function","z":"39332acf.7e95e6","name":"","func":"var newMessage = {payload: \"replaced msg\"}; \nreturn newMessage;","outputs":1,"noerr":0,"x":454.5,"y":473.75,"wires":[["e8170aa.e5ca378"]]}]
