Chapter 4 - Function Nodes/4. Parsing HTML Data From a Website/Parsing HTML Data From a Website.flow
[{"id":"e4798f92.3169b","type":"inject","z":"8f8fcbd4.9fe69","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131.5,"y":201.25,"wires":[["dc2887ec.ee5e2"]]},{"id":"b430efcb.da1af","type":"debug","z":"8f8fcbd4.9fe69","name":"","active":true,"console":"false","complete":"false","x":613.5,"y":218.5,"wires":[]},{"id":"df7dad67.8872f","type":"debug","z":"8f8fcbd4.9fe69","name":"","active":true,"console":"false","complete":"false","x":638.5,"y":309.5,"wires":[]},{"id":"dc2887ec.ee5e2","type":"http request","z":"8f8fcbd4.9fe69","name":"accessing the site","method":"GET","ret":"txt","url":"https://www.compose.com/articles/interloop-making-the-most-of-compose/?cm_mc_uid=41838085138814985679915&cm_mc_sid_50200000=&cm_mc_sid_52640000=","tls":"","x":242.5,"y":274.75,"wires":[["927acfb4.97604"]]},{"id":"927acfb4.97604","type":"html","z":"8f8fcbd4.9fe69","name":"","tag":"p","ret":"html","as":"single","x":330.5,"y":353.75,"wires":[["b430efcb.da1af","bacf85cd.309468"]]},{"id":"bacf85cd.309468","type":"function","z":"8f8fcbd4.9fe69","name":"iterating thru <p> tags","func":"if(!context.count){\n    context.count = 0;\n}\nfor (var i = 0; i < 20; i++){\n    if(msg.payload[i].includes(\"Compose\")){\n        context.count++;\n    }\n}\nmsg.payload = context.count;\nreturn msg;","outputs":1,"noerr":0,"x":468.5,"y":420.75,"wires":[["df7dad67.8872f"]]}]
