Chapter 4 - Function Nodes/3. Loops/Loops.flow
[{"id":"ec48e44e.5c7908","type":"inject","z":"a0bc8e5e.0b9a48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":300,"wires":[["33f758a7.87d2b"]]},{"id":"b991fb13.7ca9f8","type":"debug","z":"a0bc8e5e.0b9a48","name":"","active":true,"console":"false","complete":"false","x":490,"y":300,"wires":[]},{"id":"33f758a7.87d2b","type":"function","z":"a0bc8e5e.0b9a48","name":"","func":"var msgList = [];\nvar letterList = [\"a\", \"b\", \"c\", \"d\", \"e\"];\nfor (var i = 0; i < 5; i++){\n    msgList.push({payload: letterList[i]});\n}\nreturn [msgList];\n","outputs":1,"noerr":0,"x":310,"y":300,"wires":[["b991fb13.7ca9f8"]]}]
