Chapter 3 - Beginner Flows/3. Changing the Sentiment Score to Words/SentimentScoreWords.flow
[{"id":"540dc143.6e39f8","type":"feedparse","z":"b1192662.16ba9","name":"CNN","url":"http://rss.cnn.com/rss/cnn_topstories.rss","interval":"2","x":271,"y":181.25,"wires":[["2a71b79d.7d3838","77e4fed1.f680f8"]]},{"id":"2a71b79d.7d3838","type":"debug","z":"b1192662.16ba9","name":"","active":false,"console":"false","complete":"false","x":487,"y":161,"wires":[]},{"id":"77e4fed1.f680f8","type":"sentiment","z":"b1192662.16ba9","name":"","x":392,"y":253,"wires":[["af38127b.92ceb"]]},{"id":"8f68ef7d.3cc628","type":"debug","z":"b1192662.16ba9","name":"","active":true,"console":"false","complete":"payload","x":801.5,"y":402.5,"wires":[]},{"id":"af38127b.92ceb","type":"switch","z":"b1192662.16ba9","name":"comparison","property":"sentiment.score","propertyType":"msg","rules":[{"t":"lt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":3,"x":432.5,"y":365.75,"wires":[["48c94dc5.90de9c"],["9f304e4a.be12"],["3d157bc.783e804"]]},{"id":"48c94dc5.90de9c","type":"change","z":"b1192662.16ba9","name":"neg","rules":[{"t":"set","p":"payload","pt":"msg","to":"Negative","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610.5,"y":347.75,"wires":[["8f68ef7d.3cc628"]]},{"id":"9f304e4a.be12","type":"change","z":"b1192662.16ba9","name":"neutral","rules":[{"t":"set","p":"payload","pt":"msg","to":"Neutral","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":574.5,"y":395.75,"wires":[["8f68ef7d.3cc628"]]},{"id":"3d157bc.783e804","type":"change","z":"b1192662.16ba9","name":"pos","rules":[{"t":"set","p":"payload","pt":"msg","to":"Positive","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":549.5,"y":446.75,"wires":[["8f68ef7d.3cc628"]]}]
