Chapter 2 - Introduction/2. String Concatenation - Basic Multiplication/StringCat.flow
[{"id":"be07bd9f.a70148","type":"inject","z":"39332acf.7e95e6","name":"","topic":"","payload":"Welcome","payloadType":"str","repeat":"","crontab":"","once":false,"x":304.5,"y":433.25,"wires":[["9e3899b7.b218"]]},{"id":"e8170aa.e5ca378","type":"debug","z":"39332acf.7e95e6","name":"","active":true,"console":"false","complete":"false","x":667.5,"y":426.5,"wires":[]},{"id":"9e3899b7.b218","type":"function","z":"39332acf.7e95e6","name":"adding text","func":"msg.payload += \" to Node Red function nodes.\";\nreturn msg;","outputs":1,"noerr":0,"x":474.5,"y":473.75,"wires":[["e8170aa.e5ca378"]]}]
