Chapter 4 - Function Nodes/2. Global Context/Global_Context.flow
[{"id":"d45eae42.8625c","type":"inject","z":"9db2294c.6f7188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118.5,"y":152.25,"wires":[["14698e9e.609a21"]]},{"id":"d0ca55fa.5ebd08","type":"inject","z":"9db2294c.6f7188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98.5,"y":227.25,"wires":[["d6b0fd30.6e5de"]]},{"id":"20d46d35.3697aa","type":"debug","z":"9db2294c.6f7188","name":"","active":true,"console":"false","complete":"false","x":502.5,"y":160.5,"wires":[]},{"id":"4efdfb53.6da024","type":"debug","z":"9db2294c.6f7188","name":"","active":true,"console":"false","complete":"false","x":481.5,"y":255.5,"wires":[]},{"id":"14698e9e.609a21","type":"function","z":"9db2294c.6f7188","name":"part 1","func":"context.global.hello = function() { return \"A house divided \" };\nmsg.payload = context.global.hello();\nreturn msg;","outputs":1,"noerr":0,"x":297.5,"y":161.75,"wires":[["20d46d35.3697aa"]]},{"id":"d6b0fd30.6e5de","type":"function","z":"9db2294c.6f7188","name":"part 2 ","func":"msg.payload = context.global.hello() + \"against itself cannot stand.\";\nreturn msg;","outputs":1,"noerr":0,"x":270.5,"y":251.75,"wires":[["4efdfb53.6da024"]]}]
