Chapter 6 - Databases/2. Form to Cloudant/Form to Cloudant.flow
[{"id":"e7ba864d.db42a","type":"ui_form","z":"a0bc8e5e.0b9a48","name":"","label":"","order":0,"width":0,"height":0,"options":[{"value":"","label":"","type":"","required":true}],"formValue":{},"payload":"","topic":"","x":213.5,"y":279,"wires":[["914ef842.46094","d2f62fc3.0a68c8"]]},{"id":"914ef842.46094","type":"cloudant out","z":"a0bc8e5e.0b9a48","name":"","database":"","service":"","payonly":false,"operation":"insert","x":404.5,"y":278.25,"wires":[]},{"id":"d2f62fc3.0a68c8","type":"debug","z":"a0bc8e5e.0b9a48","name":"","active":true,"console":"false","complete":"false","x":403.5,"y":336.5,"wires":[]}]
